.popup {
    background-color: rgba($color-black, .8);
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    transition: all .3s;

    @supports (-webkit-background-filter: blur(10px)) or (background-filter: blur(10px)) {
        -webkit-background-filter: blur(10px);
        background-filter: blur(10px);
        background-color: rgba($color-black, .3);
    }

    &__content {
        background-color: $color-white;
        width: 75%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(.25);
        box-shadow: 0 2rem 4rem rgba($color-black, .2);
        border-radius: 3px;
        display: table;
        overflow: hidden;
        opacity: 0;
        transition: all .5s .2s;

        /*  @include respond(tab-land) {
            display: block;
        }*/
    }

    &__left {
        width: 33.333333333333333333%;
        display: table-cell;

        @include respond(tab-land) {
            display: block;
            width: 100%;
        }
    }

    &__right {
        width: 66.66666666666666667%;
        display: table-cell;
        vertical-align: middle;
        padding: 3rem 5rem;

        @include respond(tab-land) {
            display: block;
            width: 100%;
        }
    }

    &__img {
        display: block;
        width: 100%;

        @include respond(tab-land) {
            display: inline-block;
            height: 25rem;
        }

        @include respond(phone) {
            display: none;
        }


        &--1 {
            @include respond(tab-land) {
                width: 50%;
                float: left;
            }
        }

        &--2 {
            @include respond(tab-land) {
                width: 50%;
            }
        }
    }

    &__headQ {

        @include respond(tab-land) {
            display: block;
            text-align: center !important;
        }

        @include respond(phone) {
            font-size: medium !important;
        }
    }

    &__headZ {
        @include respond(tab-land) {
            text-align: center !important;
        }

        @include respond(phone) {
            font-size: small !important;
        }
    }

    &__text {
        font-size: 1.4rem;
        margin-bottom: 4rem;

        column-count: 2;
        column-gap: 4rem;
        column-rule: 1px solid $color-grey-light;

        -webkit-hyphens: auto; //require lang to be set in html
        -moz-hyphens: auto;
        -ms-hyphens: auto;
        hyphens: auto;

        @include respond(phone) {
            font-size: 1rem;
            //line-height: 1;
        }
    }

    //Open States
    &:target {
        opacity: 1;
        visibility: visible;
    }

    &:target &__content {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }

    &__close {

        &:link,
        &:visited {
            color: $color-grey-dark;
            position: absolute;
            top: 2.5rem;
            right: 2.5rem;
            font-size: 3rem;
            text-decoration: none;
            display: inline-block;
            transition: all .2s;
            line-height: 1;
        }

        &:hover {
            color: $color-primary;
        }
    }

}