body {
    font-family: 'Lato', sans-serif;
    /*font-size: 16px;*/
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.7;
    color: $color-grey-dark;
    padding: 3rem;
}

.heading-primary {
    text-transform: uppercase;
    color: $color-white;

    backface-visibility: hidden;
    margin-bottom: 6rem;

    &--main {
        display: block;
        font-size: 6rem;
        font-weight: 400;
        letter-spacing: 3.5rem;

        animation-name: moveInLeft;
        animation-duration: 2s;
        animation-timing-function: ease;
    }

    &--sub {
        display: block;
        font-size: 2rem;
        font-weight: 700;
        letter-spacing: 1.75rem;

        animation-name: moveInRight;
        animation-duration: 2s;
        animation-timing-function: ease;
    }
}